

@font-face {
	font-family: 'roboto';
	src: url(../font/Roboto-Light.ttf);

}
p {
font-family: 'roboto';

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D23754; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D23754; 
}
h3 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#D23754;
  padding:10px;
}